<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="robots" content="noindex" />
    <title>dashboard</title>
    <meta
      name="description"
      content="My super secret linkedpush dashboard that should never be shared."
    />
  </head>
  <body>
    <h1>Dashboard</h1>
    <h3 style="color: red">DO NOT SHARE ANY LINKS ON THIS PAGE 😬!</h3>
    <div style="flex-direction: row">
      <button onclick="createWebhookForAll()">Add to all</button>
      <button onclick="deleteWebhookForAll()">Delete to all</button>
    </div>
    <ul>
      <% repos.forEach((repo) => { %>
      <li style="flex-direction: row">
        <a href="<%= repo.html_url %>">
          <%= owner_name %>/<%= repo.repo_name %>
        </a>
        <button onclick="createWebhook('<%= repo.repo_name %>')">add</button>
        <button onclick="deleteWebhook('<%= repo.repo_name %>')">remove</button>
      </li>
      <% }) %>
    </ul>

    <hr />
    <h3>Add your webhook: <a href="<%= webhookUrl %>"><%= webhookUrl %></a></h3>
    <p>
      First set up your repo 👇. From there on, use linkedpush by adding
      "<strong>@linkedpush</strong>" to your commit message then push to GitHub
      and voila ✨, your commit message is a LinkedIn post (minus the
      "<strong>@linkedpush</strong>" part of course).
    </p>
    <h3>Set up your repo</h3>
    <ol>
      <li><p>Navigate to your repository's settings.</p></li>
      <img
        alt="github-1"
        src="https://user-images.githubusercontent.com/37946988/196015015-a153509a-c871-4b7f-971c-da3c32736fe0.png"
      />
      <li><p>Navigate to "Webhooks".</p></li>
      <img
        alt="github-2"
        src="https://user-images.githubusercontent.com/37946988/196015021-ed12b6ed-92dd-4e34-940a-0fc561a6fb35.png"
      />
      <li><p>Add a new webhook.</p></li>
      <img
        alt="github-3"
        src="https://user-images.githubusercontent.com/37946988/196015025-58602a5c-734e-48b0-a5a6-338070bd3246.png"
      />
      <li>
        <p>
          Set the "Payload URL" to your webhook url. Change "Content Type" to
          "application/json". "Add webhook" to submit.
        </p>
      </li>
      <img
        alt="github-4"
        src="https://user-images.githubusercontent.com/37946988/198734820-f9fc6f8d-2987-412c-9706-c308854d6158.png"
      />
    </ol>
    <hr />
    <h3 style="color: darkorange">
      Delete my data: <a href="<%= deleteDataUrl %>"><%= deleteDataUrl %></a>
    </h3>
  </body>
  <!-- add a script that adds an onclick event to button of id="test" -->
  <script>
    // create a fetch request to the /test route
    const test = document.getElementById("test");
    const createWebhookForAll = () => {
      const repos = <%- JSON.stringify(repos) %>
      repos.forEach((repo) => {
        createWebhook(repo.repo_name, false)
      })
      // this alert is assuming all worked (so its kinda a lie)
      alert(`Created ${repos.length} webhooks!`)
    };
    const deleteWebhookForAll = () => {
      const repos = <%- JSON.stringify(repos) %>
      repos.forEach((repo) => {
        deleteWebhook(repo.repo_name, false)
      })
      // this alert is assuming all worked (so its kinda a lie)
      alert(`Deleted ${repos.length} webhooks!`)
    };
    const createWebhook = async (repo, raiseAlert = true) => {
      const response = await fetch(
        `https://api.github.com/repos/<%= owner_name %>/${repo}/hooks`,
        {
          method: "POST",
          headers: {
            Authorization: "Bearer <%= githubToken %>",
          },
          body: JSON.stringify({
            owner: "CakeCrusher",
            repo: "test-repo",
            name: "web",
            active: true,
            events: ["push"],
            config: {
              url: "<%= webhookUrl %>",
              content_type: "json",
              insecure_ssl: "0",
            },
          }),
        }
      );
      const data = await response.json();
      if (data.id) {
        if (raiseAlert) alert("Successfully created webhook!");
      } else {
        console.log(data);
        if (raiseAlert) alert("Failed to create webhook.");
      }
    };
    const deleteWebhook = async (repo, raiseAlert = true) => {
      const allHooks = await fetch(
        `https://api.github.com/repos/<%= owner_name %>/${repo}/hooks`,
        {
          method: "GET",
          headers: {
            Authorization: "Bearer <%= githubToken %>",
          },
        }
      );
      const allHooksData = await allHooks.json();
      // find hook with url of webhookUrl in allHooks[i].config.url
      console.log;
      const hook = allHooksData.find(
        (hook) => hook.config.url === "<%= webhookUrl %>"
      );
      const deleteReq = await fetch(
        `https://api.github.com/repos/<%= owner_name %>/${repo}/hooks/${hook.id}`,
        {
          method: "DELETE",
          headers: {
            Authorization: "Bearer <%= githubToken %>",
          },
        }
      );
      if (deleteReq.ok) {
        if (raiseAlert) alert("Successfully deleted webhook!");
      } else {
        console.log(deleteReq);
        if (raiseAlert) alert("Failed to delete webhook.");
      }
    };
  </script>
</html>
